<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zcq.dao.HighlightRouteMapper">
    <insert id="addHighlightRoute">
        INSERT INTO mybatis.highlight_route (mac, safe_route, path, cost_time)
        VALUES (#{mac}, #{highlightRoute.safeRoute}, #{highlightRoute.path}, #{highlightRoute.costTime})
    </insert>

    <delete id="deleteAll">
        DELETE
        FROM mybatis.highlight_route
    </delete>
</mapper>